* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: lightcoral;
}

#calc-parent {
    width: 50%;
    margin: auto;
}

.calc-btn {
    background-color: silver;
    color: black;
    width: 25px;
    height: 45px;
    border: 1px grey solid;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}

.calc-btn:hover {
    background-color: orange;
}

.row {
    display: table;
    table-layout: fixed;
    width: 200px;
}

.column {
    display: table-cell;
}

#calc-zero {
    width: 51px;
}

#calc-clear {
    width: 51px;
}

#calc-display-val {
    height: 80px;
    color: white;
    text-align: right;
    border: 1px 1px 0 1px grey solid;
    font-size: 40px;
    background-color: #383838;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}

.calc-btn-operator {
    background-color: orange;
    color: white;
}